<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.affectiva.imagedetectordemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".StartActivity">
        </activity>
        <activity android:name=".trainingModeActivity" />
        <activity android:name=".TempActivity" />
        <activity android:name=".SlideShowActivity" />
        <activity android:name=".Guess" />
        <activity android:name=".GuessResult" />
        <activity android:name=".TrainingActivity" />
        <activity android:name=".TrainingActivity2" />
        <activity android:name=".slideShow2Activity" />
        <activity android:name=".signinActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".scoreActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>